@import url('/style/colors.css');
/* Elementos Básicos */

body {
    background-color: var(--color-preta);
    font-family: 'Permanent Marker', Times, serif;
    padding: 1vw 1vh;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin-bottom: 0px;
}

header .container {
    position: static;
    top: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header nav a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
}

header nav a:hover {
    color: var(--color-vermelha);
}

header .logo {
    color: var(--color-vermelha);
    font-family: 'Arial Black', Times, serif;
    font-size: 40px;
}

main {
    min-width: 100%;
    min-height: 100%;
}

.container {
    margin: 1% 1%;
}